@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Navbar {
  justify-content: space-between;
}
.Logo {
  width: 6rem;
  height: 6rem;
}
.Nav-menu {
  font-family: "Kalnia", serif;
  font-size: large;
  color: black !important;
  font-weight: bolder;
}
.Nav-menu {
  border-bottom: solid 1px transparent;
  box-sizing: border-box;
}
.Nav-menu:hover {
  border-bottom: solid 1px rgb(107, 107, 95);
}
.Carousel-img {
  width: 100%;
  height: 41rem;
}
.carousel-indicators button {
  display: none;
}

.left-caption {
  text-align: left !important;
  padding: 20px; /* Adjust as needed */
  position: absolute !important;
  left: 12rem !important;
  top: 60% !important;
  bottom: 30%;
  transform: translateY(-50%) !important;
  text-align: left !important;
  padding: 20px !important; /* Adjust as needed */
  color: white; /* Set the text color */
  /* Add any other styles you want */
}
@media (max-width: 960px) {
  .left-caption {
    left: 0 !important;
    top: 70% !important;
    bottom: 30%;
  }
}
@media (max-width: 960px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none !important;
  }
}
h1 span {
  color: #ffbf00;
}
.Carousel-btn {
  border-radius: 10px;
  background-color: #ffc500;
  width: 10rem;
  height: 4rem;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
span.material-symbols-outlined {
  padding-left: 0.7rem;
}
h1.Carousel-text {
  font-size: 3.5rem;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Kalnia", serif;
  font-family: "Merriweather", serif;
}
.card {
  margin: 1rem;
}
.card.d-flex.justify-content-center.algin-item-center.flex-row {
  border-style: none !important;
}
.img-icon {
  width: 6rem;
  height: 6rem;
}
